.main-app {
    text-align: center;
    margin: 100px;
}

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	background:rgb(25, 27, 31);
}

a{
  color: #D10568;
  background-color: transparent;
  text-decoration: none;
}

.Aboutus{
  text-align: left;
}

.Aboutus h1{
  color: #3CA01E;
}

img{
  width: 400;
  height: 400;
}

.nav ul{
	display: flex;
	width: 100%;
	height: 30px;
	margin: 0px;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  padding-bottom: 40px;
}
.nav li {
	padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 80px;
	margin: auto;
  font-weight: 600;
}

.nav li:hover {
  background-image: url('https://scottyzen.sirv.com/Images/v/button.png');
  background-size: 100% 100%;
  color: #ffffff;
  animation: spring 300ms ease-out;
	font-weight: bold;
}
.nav li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

h1{
  color: #F5F5F5;
  padding-bottom: 20px;
}

span{
  color: #F5F5F5;
  padding-bottom: 20px;
}

.cta-button {
    padding: 8px;
    border: none;
    border-radius: 12px;
    min-width: 150px;
    height: 50px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.connect-wallet-button {
    background: #D10568;
}

.cta-button:hover{
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
	font-weight: bold;
}

.mint-nft-button {
    background: orange;
}

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding:  30px 10% 0px 10%;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav * {
  color : #F5F5F5 !important;
  text-decoration: none;
}

.nav > li {
  background: rgb(50, 54, 62);
  margin : 5px 10px;
  padding : 5px;
  border-radius: 5px;
}


#FakeBAYCTokenImg{
    width: 200px;
    height: 200px;
}

#FakeNefturianItem{
    background-color: lightgrey;
    border-color: black;
    border-radius: 5px;
}

fieldset {
  border:0;
  margin-top: 6vh;
}



.form {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form label{
  color: #F5F5F5;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.form input{
    padding: 3px;
    margin-left: 6px;
    font-size: 14px;
    font-weight: 600;
    width: 250px;
    background-color: rgb(255, 255, 255);
}

.buttton{
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 10px;
  font-size: medium;
  
}

.buttton:hover {
  background-size: 100% 100%;
  animation: spring 300ms ease-out;
	font-weight: bold;
}


.nav-back {
  background:rgb(50, 54, 62);
}
